

.project__card {
  width: 65vw;
  height: 30vh;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: grid;
  grid-template-areas: "display nav";
  grid-template-columns: 85% 15%;
}

.project__nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__nav-tabs--top,
.project__nav-tabs--bottom,
.project__nav-tabs {
  width: 100%;
  height: 100%;

}

.project__nav-tabs--top {
  border-radius: 0 10px 0 0
}

.project__nav-tabs--bottom {
  border-radius: 0 0 10px 0
}


.project__nav-tabs:hover,
.project__nav-tabs--top:hover,
.project__nav-tabs--bottom:hover {
  background-color:  #846A6A;
}

.tab__active {
  background-color: #846A6A;
}

.project__nav-tabs--icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.project__title {
  height: 100%;
  grid-area: display;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem
}

.project__info {
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  grid-area: display;
  display: flex;
  justify-content: center;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.project__info::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.project__info--text {
  font-size: 3rem;
  text-align: center;
}

