.page-container {
  width: calc(100vw - 200px);
  display: flex;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.page-container::-webkit-scrollbar {
  display: none;
}

.mug-shot {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}

.mug-shot img {
  padding-bottom: 3vh;
  position: absolute;
  transform: scale(1);
  width: 100%;
  object-fit: contain;
  z-index: 10;
}

.greeting-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 27vh;
  margin-left: -9vw;
  align-items: center;
  position: relative;
  width: 50%;
  z-index: 20;
}

.greeting h1 {
  font-size: 4vw;
}

.greeting h2 {
  font-size: 2.5vw;
}

@media (pointer: coarse) and (hover: none),
only screen and (max-width: 768px) {

  .page-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mug-shot {
    width: 0;
    display: none;
  }
  
  .mug-shot img {
    display: none;
  }

  .greeting-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15vh;
    width: 100%;
    z-index: 20;
  }

  .greeting h1 {
    font-size: 8vw;
  }
  
  .greeting h2 {
    font-size: 5vw;
  }

}