:root {
  --project-page-width: calc(100% - 12.5vw);
}

@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

.projects__container {
  width: var(--project-page-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 5vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.projects__container::-webkit-scrollbar {
  display: none; /* chrome and safarai */
}

