:root {
  --project-page-width: calc(100% - 12.5vw);
}

.resume-container {
  width: var(--project-page-width);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resume-pdf__container {
  width: 50vw;
  height: 50vh;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #EEF0F2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'img heading';
  position: relative;
  margin-top: 15vh;
  cursor: pointer;
}

.resume-pdf__container:hover {
  transform: scale(1.1);
}

.resume-pdf__img--container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: img;
}

.resume-pdf__img {
  width: 100%;
  object-fit: contain;
}

.resume-pdf__heading {
  grid-area: heading;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1000px) {
  .resume-container {
    width: 100%;
  }
  
  .resume-pdf__container {
    width: 80vw;
    margin-top: 10vh;
    transform: scale(.7);
  }

  .resume-pdf__container:hover {
    transform: scale(.8);
  }

  .resume-pdf__heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 750px) {
  .resume-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .resume-pdf__container {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .resume-pdf__img--container {
    width: 100%;
  }

  .resume-pdf__img {
    position: relative;
    transform: scale(1)
  }

  .resume-pdf__heading {
    font-size: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .resume-pdf__container {
    margin-top: 10;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .resume-pdf__img {
    transform: scale(1)
  }
}
