

.page-container {
  margin: auto;
}

.page-1,
.page-2,
.page-3,
.page-4,
.page-5,
.page-active {
  position: absolute;
  height: 100vh;
  width: 100vw;
  transition: 1s ease;
}

.page-1 {
  background-color: #BEBEBE;
  left: 0;
  z-index: 1;
}

.page-2 {
  background-color: #141414;
  left: 100px;
  z-index: 2;
}

.page-3 {
  background-color: #BEBEBE;
  left: 200px;
  z-index: 3;
}

.page-4 {
  background-color: #141414;
  left: 300px;
  z-index: 4;
}

.page-5 {
  background-color: #BEBEBE;
  left: 400px;
  z-index: 5;
}
.page-active {
  transform: translate(calc(100vw - 500px), 0);
}

.page-label {
  position: relative;
  height: 100vh;
}

.page-label-text-1,
.page-label-text-2,
.page-label-text-3,
.page-label-text-4,
.page-label-text-5,
.page-label-text {
  color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) rotate(90deg);
}

.page-label-text-1 {
  color: #141414;
}

.page-label-text-2 {
  color: #BEBEBE;
}

.page-label-text-3 {
  color: #141414;
}

.page-label-text-4 {
  color: #BEBEBE;
}

.page-label-text-5 {
  color: #141414;
}