
:root {
  --tab-page-color-1: #EEF0F2;
  --tab-page-color-2: #C6C7C4;
  --tab-page-color-3: #A2999E;
  --tab-page-color-4: #846A6A;
  --tab-page-color-5: #353B3C;
}

.page-container {
  margin: auto;
  height: auto;
}

.page-1,
.page-2,
.page-3,
.page-4,
.page-5,
.page-active {
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  width: 100vw;
  transition: 1s ease;
  z-index: inherit;
  transform: translate(calc(100vw - 12.5vw), 0);
}

.page-1 {
  background-color: var(--tab-page-color-1);
  left: 0vw;
  z-index: 1;
}

.page-2 {
  background-color: var(--tab-page-color-2);
  left: 2.5vw;
  z-index: 2;
}

.page-3 {
  background-color: var(--tab-page-color-3);
  left: 5vw;
  z-index: 3;
}

.page-4 {
  background-color: var(--tab-page-color-4);
  left: 7.5vw;
  z-index: 4;
}

.page-5 {
  background-color: var(--tab-page-color-5);
  left: 10vw;
  z-index: 5;
}
.page-active {
  transform: translate(0vw, 0);
}

.page-label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-label-active {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.page-label-text {
  cursor: pointer;
  font-size: 1.3rem;
  color: black;
  position: absolute;
  transform: translateX(-30%) rotate(90deg);
}

.page-label-text-active {
  color: black;
  font-size: 4rem;
  margin-top: .5%;
  margin-left: 1%;
  position: absolute;
  transform: rotate(0deg);
}



.menu-button {
  display: none;
}


/* Responsive section */

@media (pointer: coarse) and (hover: none),
only screen and (max-width: 768px) {

  .page-container {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .page-1,
  .page-2,
  .page-3,
  .page-4,
  .page-5,
  .page-active {
    position: absolute;
    left: 0px;
    height: 20vh;
    width: 100vw;
    z-index: inherit;
    transition: 0.4s ease;
    transform: translate(0, 0);
  }

  .page-1 {
    top: 0vh;
    background-color: var(--tab-page-color-1);
    z-index: 1;
  }
  
  .page-2 {
    top: 20vh;
    background-color: var(--tab-page-color-2);
    z-index: 2;
  }
  
  .page-3 {
    top: 40vh;
    background-color: var(--tab-page-color-3);
    z-index: 3;
  }
  
  .page-4 {
    top: 60vh;
    background-color: var(--tab-page-color-4);
    z-index: 4;
  }
  
  .page-5 {
    top: 80vh;
    background-color: var(--tab-page-color-5);
    z-index: 5;
  }

  .page-active {
    top: 0;
    z-index: 7;
    height: 100vh;
  }

  .page-label {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page-label-text {
    color: black;
    font-size: 1.8rem;
    margin: 0;
    position: absolute;
    transform: translateY(0%) rotate(0deg);
  }

  .page-label-text-active {
    color: black;
    margin: 7%;
    position: absolute;
    transform: rotate(0deg);
  }

  .page-label-text-dark {
    color: #141414;
  }
  
  .page-label-text-light {
    color:  #141414;
  }

  .menu-button__container {
    margin: 7%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .menu-color-dark,
  .menu-color-light,
  .menu-button {
    display: block;
    position: relative;
    z-index: 20;
    font-size: 50px;
    cursor: pointer;
    transition-delay: 500ms;
  }

  .menu-button-clicked {
    visibility: hidden;
  }

  .menu-color-dark {
    color: #141414;
  }

  .menu-color-light {
    color: #141414;
  }

  @media screen and (max-width: 450px) {
    .page-container {
      overflow: hidden;
    }
    .page-label-text-active {
      margin-top: 5%;
      font-size: 3.5rem;
    }
  }

}