@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Antic Slab', serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
